@font-face {
  font-family: 'BYekan';
  src: url('http://www.chargereseller.com/fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('http://www.chargereseller.com/fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('http://www.chargereseller.com/fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body{
	background: rgb(248,249,249); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjZjhmOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZTdlNmU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(248,249,249,1) 29%, rgba(231,230,231,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(29%,rgba(248,249,249,1)), color-stop(99%,rgba(231,230,231,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,249,249,1) 29%,rgba(231,230,231,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(248,249,249,1) 29%,rgba(231,230,231,1) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(248,249,249,1) 29%,rgba(231,230,231,1) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(248,249,249,1) 29%,rgba(231,230,231,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f9', endColorstr='#e7e6e7',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	font-family: tahoma;
	font-size: 100%;
	direction: rtl;
}
h2, h1 {
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	margin: 10px;
	color: #717172;
}
h2 {
	font-size: 20px;
}
h1 {
	font-size: 27px;
}
p {
	font-size: 17px;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	margin: 0;
	color: #717172;
}
label {
	color: #717172;
	font-family: BYekan,Tahoma;
	font-size:100%;
}
legend {
	padding:10px 20px;
	color: #5B5C5C;
	font-family: BKoodakBold,Tahoma;
	font-size:130%;
}
strong {
	margin-right: 30px;
	float: right;
}
fieldset {
	border: 0 none;
	margin:0;
	padding:0;
}
div.form {
	padding: 10px 20px;
	direction: rtl;
}
.clear{
	clear:both;
}
div.container{
	width:850px;
	height:auto;
	margin:120px auto 20px;
}
div.container.PIN div.Magiccharge {
	visibility: hidden;
}
div.top {
}
div.right {
	float:right;
	width: 400px;
}
div.operators {
	padding: 10px 9px;
	width:372px;
	height:93px
}
div.operator {
	width:85px;
	height:85px;
	float:right;
	cursor:pointer;
	margin: 4px;
	opacity:0.30;
}
div.center {
	float:right;
	width: 40px;
	height: 800px;
	text-align:center;
	margin-top:10px;
}
div.center i.timeline {
	width:3px;
	height:inherit;
	background-color:#9AA6B7;
	position:absolute;
}
div.center i.time-bullet {
	border:2px solid #FFFFFF;
	border-radius:10px;
	width:15px;
	height:15px;
	background-color:#9AA6B7;
	position:absolute;
	display:block;
	margin-right:12px;
}
div.center i.time-bullet.pink {
	background-color:#F19BA4;
	top:272px;
}
div.center i.time-bullet.blue {
	background-color:#47CADC;
	top:472px;
}
div.center i.time-bullet.green {
	background-color:#47DBC3;
	top:721px;
}
div.left {
	float:left;
}
div.bottom {
}
.panel {
	width: 400px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
	margin: 30px 0;
	border-radius:3px;
}
.panel-header {
	height:45px;
	border-radius:3px 3px 0 0;
	padding-top:15px
}
.arrow {
	width: 0!important; 
	height: 0; 
	position:relative;
	top: 8px;
}
.arrow.left {
	border-width:10px 10px 10px 0;
	border-style:solid;
	left:-10px;
	float:left;
}
.arrow.right {
	border-width:10px 0 10px 10px;
	border-style:solid;
	right:-10px;
	float:right;
}
.step {
	color:#FFFFFF;
}
.step.number {
	font-size:53px;
	width:40px;
	height:35px;
	padding:5px;
	text-align:center;
	float:right;
}
.step.title {
	font-size:20px;
}
.step.description {
	font-size:11px;
}
.left .panel .step.number {
	margin-right:-10px;
}
.panel-body {
	background-color: #FFFFFF;
	border-radius:0 0 3px 3px;
	padding: 5px;
}
#info .panel-body {
	padding:15px 5px;
}
.pink .panel-header {
	background-color: #F19BA4;
}
.pink .arrow.left {
	border-color: transparent #F19BA4 transparent transparent;
}
.blue .panel-header {
	background-color: #47CADC;
}
.blue .arrow.right {
	border-color: transparent transparent transparent #47CADC;
}
.green .panel-header {
	background-color: #47DBC3;
}
.green .arrow.left {
	border-color: transparent #47DBC3 transparent transparent;
}
.operator.MTN {
	background:url("../img/MTN.png") no-repeat 0 0px;
}
.operator.MCI{
	background:url("../img/MCI.png") no-repeat 0 0px;
}
.operator.RTL{
	background:url("../img/RTL.png") no-repeat 0 0px;
}
.operator.TAL{
	background:url("../img/TAL.png") no-repeat 0 0px;
}
.operator:hover {
	background-position: 0 0px;
	opacity:0.6;
}
.operator.active {
	background-position: 0 0px;
	opacity:1;
}
div#info {
	margin-top:230px;
}
div#money {
	margin-top:176px;
}
div#logo{
	width:180px;
	height:160px;
	background: url("../img/logo.png") no-repeat 0 0;
	margin:0 auto;
	cursor:pointer;
}
div#logo:hover{
	background-position: 0 -168px;
}
div#logo:active{
	background-position: 0 -344px;
}
div#content{
	width:370px;
	height: auto;
	float:right;
	margin:20px auto;
	text-align:center;
}
input{
	width:220px;
	height:38px;
	background-color:#f6f4f5;
	border-radius: 3px;
	border:1px solid #E6E6E6;
	margin:8px;
	font-family: BYekan,Tahoma;
	font-size:180%;
	color:#5c5c5c;
	padding:5px 55px 5px 65px;
	text-align:center;
}
input[type="text"] {
	letter-spacing: 2px;
}
.input.text {
	padding: 0 17px;
}
#EmailInput {
	letter-spacing: 1px !important;
	padding: 5px 20px 5px 50px !important;
	width: 270px !important;
}
input:hover{
	color:#000000;
}
input:focus{
	color:#000000;
}
input#dataAccountTemp{
	background:url(../img/mobile.png) no-repeat #F6F4F5;
	background-position: 13px 14px;
	text-align: left !important;
	direction: ltr;
}
input#dataAccountTemp:hover{
	background-image:url(../img/mobile-h.png);
}
input#dataAccountTemp:focus{
	background-image:url(../img/mobile-f.png);
}
input#EmailInput{
	background:url(../img/email.png) no-repeat #F6F4F5;
	background-position: 13px 14px;
	font-size: 140% !important;
}
input#EmailInput:hover{
	background-image:url(../img/email-h.png);
}
input#EmailInput:focus{
	background-image:url(../img/email-f.png);
}
input[type="submit"] {
	background-color:#E6E6E6;
	border:1px solid #BFBFBF;
	width:360px;
	height:56px;
	margin:26px 9px 10px;
	padding:0 45px;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
	font-family: BYekan,Tahoma;
	font-size:200%;
	color:#5b5c5c;
	cursor:pointer;
}
input[type="submit"]:hover{
	text-shadow: 1px 2px 2px #ffffff;
	background-color:#F0F2EF;
}
.submit input:hover{
	text-shadow: 1px 2px 2px #ffffff;
}
div#MagicCharge{
	box-shadow: 0px 0px 0px #000000;
	border-radius:0px;
	text-align:right;
	color: #5B5C5C;
	font-family: BKoodakBold,Tahoma;
	font-size:100%;
	height:auto;
	margin: 8px auto;
}
input#magiccharge{
	border-radius:5px;
	width:10px;
	height:10px;
	padding:10px;
}
.error-message, .message {
	background-color: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;
    border-radius: 4px;
    margin: 10px 0;
    padding: 4px;
	font-family: BYekan, tahoma;
	font-size:13px;
	text-align: center;
}
.conference{
	direction: rtl;
	float:right;
	padding:0 30px;
	width: 100%;
}
.conferences {
  background: url("../img/icon_user.png") no-repeat scroll 97% 7px #EFEFEF;
}
.alert-admin {
	background: url("../img/icon_admin.png") no-repeat scroll 97% 7px #EFEFEF;
	background-color: #E5EFFA;
	border: 1px solid #D3DFEB !important;
}
.conference small{
	float:left;
	margin-left:10px;
}
.conference span {
	font-size: 100%;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
}
.conference .transdetail {
	text-align: right;
	font-size:16px;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	direction: rtl;
	margin: 20px 10px;
	padding: 8px;
	border: 0;
}
.conference div textarea {
	margin-right: 5px;
    width: 88%;
	border: 1px solid #E6E6E4;
	border-radius: 8px;
	padding: 5px;
	font-size:13px;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
}
.conference .textarea label {
    vertical-align: top;
}
.conference div.input {
    height: auto;
}
.conference div.confDetail {
    width: 100%;
	height: 20px;
}
.conference div.confBody {
    font-size: 13px;
    line-height: 20px;
    margin: 10px;
    text-align: right;
}
.Conference{
    float: left;
    width: 270px;
	margin: -50px 0 0 15px;
	position:absolute;
}
.Conference .ConferenceBtn {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
    cursor: pointer;
    height: 33px;
    width: 115px;
	background-color: #1a1818;
	border-radius: 0 0 10px 15px;
	-moz-border-radius: 0 0 10px 15px;
    -webkit-border-radius: 0 0 10px 15px;
    -khtml-border-radius: 0 0 10px 15px;
}
.Conference .ConferenceBtn span {
  background: url("../img/info.png") no-repeat scroll 98% 59% transparent;
  color: #FFFFFF;
  display: block;
  margin-right: 9px;
  padding: 9px 19px;
  text-align: right;
}

.Conference .ConferenceContent {
    background-color: #1a1818;
    border-radius: 0 0 5px 0;
    color: #FFFFFF;
    display: none;
    padding: 10px;
    position: relative;
    width: 250px;
    z-index: 2000;
	height: 183px;
}
.Conference input {
    height: 22px;
    width: 230px;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	padding: 4px 6px;
	text-align: left;
	margin-top: 5px;
}
.Conference label{
	font-size:13px;
	color:#FFF;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	float: right;
}
.cnsubmit {
	padding-top: 5px;
}
.cnsubmit input, .cnsubmit button {
    height: 36px;
    width: 70px;
	padding: 0;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	text-align: center;
}
.banksubmits {
  margin: 20px auto;
  width: 250px;
  font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: center;
}
.banksubmits input{
	background-image:url("../img/load.gif");
	background-repeat: no-repeat;
	background-position: 270px 15px;
    direction: rtl;
    text-align: right !important;
    width: 300px !important;
}
}
.input, .text{
	width:100%;
	clear:right;
	margin: -4px 0;
}
.alert {
	direction: rtl;
	margin: 20px 10px;
	padding: 8px;
	border-radius: 10px;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #E6E6E4;
}
.menu {
	float: left;
	margin: -59px 0 0 30px;
	position: relative;
}
.menu span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
    cursor: pointer;
	padding: 4px 30px 9px 16px;
	margin-right:20px;
	background-color: #87B43F;
	display: inline-block;
	width: auto;
	color: #FFFFFF;
	text-align: center;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
}
.menu span a {
	color: #ffffff;
	text-decoration: none;
}
span.support {
    background: url("../img/support.png") no-repeat scroll 90% #87B43F;
}
span.help {
    background: url("../img/help.png") no-repeat scroll 90% #098A97;
}
span.help:hover {
    background-color: #47B7C0;
}
.qtip {
	border-width: 3px;
}
.qtip-content {
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 2;
	direction: rtl;
	text-align: justify !important;
}
.bgs {
	margin-top: -61px;
}
div.addScript {
	position: relative;
	left: 91%;
	top: 1px;
}
.addScript {
	margin: 0px;
	width: 0px;
}
.addScript p {
	margin: 0px;
	width: 0px;
}
.addScript p>a>img {	
	width: 0px;
	height: 0px;
}
.addScript a>img {
	margin-top: 3px;
}
div #desc h1, div #desc p{
	font-size: 13px;
	font-weight: normal;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	margin:10px;
	color: #717172;
	text-align: justify;
	letter-spacing:-0.3px;
}
div #desc h1 {
	font-size: 16px;
}
form label.alert{
	display: block;
    padding: 20px;
	border: none;
}
form.MTN div.banks ul li {
	border:2px solid #FFBD00;
}
form.MCI div.banks ul li {
	border:2px solid #3bb3c4;
}
form.RTL div.banks ul li {
	border:2px solid #C5449F;
}
form.TAL div.banks ul li {
	border:2px solid #DE002A;
}
div .loading{
	display: none;
}
div.input {
	padding:0 0;
}
div.banks {
	text-align:right;
	padding:5px 6px;
}
div.banks p {
	text-align:right;
}
div.banks p i {
	font-style:normal;
	padding-right:10px;
}
div.banks ul, div.banks li {
	margin:-1px;
	padding:0;
	list-style-type:none;
	cursor:pointer;
}
div.banks li {
	border-radius:3px;
	border:2px solid #B9B9B9;
	display:inline-block;
	margin:0px 4x;
}
div.banks li i {
	background-color:#FFFFFF;
	background-image:url(../img/banks_big.png);
	background-repeat:no-repeat;
	font-family:Tahoma;
	font-size:0px;
	display:block;
	width:25px;
	height:25px;
}
div.banks li.active {
	border:2px solid #C44E06 !important;
}
div.banks li.active i {
	background-color:#FCE4A1;
}
div.banks li.bank-Saman i {background-position:0px 0px;}
div.banks li.bank-EnBank i {background-position:-25px 0px;}
div.banks li.bank-Mellat i {background-position:-50px 0px;}
div.banks li.bank-AgriBank i {background-position:-75px 0px;}
div.banks li.bank-Sina i {background-position:-100px 0px;}
div.banks li.bank-Parsian i {background-position:-125px 0px;}
div.banks li.bank-ToseSaderat i {background-position:-150px 0px;}
div.banks li.bank-SanatMadan i {background-position:-175px 0px;}
div.banks li.bank-Pasargad i {background-position:-200px 0px;}
div.banks li.bank-Melli i {background-position:-225px 0px;}
div.banks li.bank-Saderat i {background-position:-250px 0px;}
div.banks li.bank-PostBank i {background-position:-275px 0px;}
div.banks li.bank-Tejarat i {background-position:-300px 0px;}
div.banks li.bank-ToseTavon i {background-position:-325px 0px;}
div.banks li.bank-Ansar i {background-position:-350px 0px;}
div.banks li.bank-Refah i {background-position:-375px 0px;}
div.banks li.bank-Sepah i {background-position:-400px 0px;}
div.banks li.bank-Sarmayeh i {background-position:-425px 0px;}
div.banks li.bank-Ayandeh i {background-position:-450px 0px;}
div.banks li.bank-KarAfarin i {background-position:-475px 0px;}
div.banks li.bank-Maskan i {background-position:-500px 0px;}
div.banks li.bank-Mehr i {background-position:-525px 0px;}
div.banks li.bank-Dey i {background-position:-550px 0px;}
div.banks li.bank-CityBank i {background-position:-575px 0px;}
div.banks li.bank-Zarinpal i {background-position:-600px 0px;}
/* Active */
div.banks li.active.bank-Saman i {background-position:0px -25px;}
div.banks li.active.bank-EnBank i {background-position:-25px -25px;}
div.banks li.active.bank-Mellat i {background-position:-50px -25px;}
div.banks li.active.bank-AgriBank i {background-position:-75px -25px;}
div.banks li.active.bank-Sina i {background-position:-100px -25px;}
div.banks li.active.bank-Parsian i {background-position:-125px -25px;}
div.banks li.active.bank-ToseSaderat i {background-position:-150px -25px;}
div.banks li.active.bank-SanatMadan i {background-position:-175px -25px;}
div.banks li.active.bank-Pasargad i {background-position:-200px -25px;}
div.banks li.active.bank-Melli i {background-position:-225px -25px;}
div.banks li.active.bank-Saderat i {background-position:-250px -25px;}
div.banks li.active.bank-PostBank i {background-position:-275px -25px;}
div.banks li.active.bank-Tejarat i {background-position:-300px -25px;}
div.banks li.active.bank-ToseTavon i {background-position:-325px -25px;}
div.banks li.active.bank-Ansar i {background-position:-350px -25px;}
div.banks li.active.bank-Refah i {background-position:-375px -25px;}
div.banks li.active.bank-Sepah i {background-position:-400px -25px;}
div.banks li.active.bank-Sarmayeh i {background-position:-425px -25px;}
div.banks li.active.bank-Ayandeh i {background-position:-450px -25px;}
div.banks li.active.bank-KarAfarin i {background-position:-475px -25px;}
div.banks li.active.bank-Maskan i {background-position:-500px -25px;}
div.banks li.active.bank-Mehr i {background-position:-525px -25px;}
div.banks li.active.bank-Dey i {background-position:-550px -25px;}
div.banks li.active.bank-CityBank i {background-position:-575px -25px;}
div.banks li.active.bank-Zarinpal i {background-position:-600px -25px;}
div.Magiccharge {
	text-align: right;
	padding: 5px 25px;
}
#AmountTopUpMTNTemp {
	display:none;
}
div.container.TopUp form.MTN #AmountTopUpMTNTemp {
	display:block!important;
}
div.container.TopUp form.MTN #AmountTemp {
	display:none!important;
}
form.MCI div.Magiccharge, form.RTL div.Magiccharge, form.TAL div.Magiccharge {
	visibility:hidden;
}
.amount {
	padding: 14px 25px 4px!important;
}
form div.submit input {
	border-radius:3px;
	color:#FFFFFF;
	cursor:pointer;
}
form.MTN div.submit input {
	background-color:#FFBD00;
	border:1px solid #F5B51F;
}
form.MCI div.submit input {
	background-color:#3BB3C4;
	border:1px solid #50D2E4;
}
.show {
	display: block !important;
}
.hide{
	display: none !important;
}
div.operators.TopUp div.TAL, div.operators.TopUp div.RTL {
	display:none;
}
.irs {
	font-family: 'BYekan', tahoma;
}
.irs-from, .irs-to, .irs-single {
	font-size:12px!important;
	top: -4px!important;
	left: 16px;
}
table {
	font-size: 13px;
	font-family: BYekan,tahoma;
	line-height: 20px;
	margin:20px auto;
	color: #717172;
	text-align: left:
}
td {
	padding: 5px 15px;
    border: 1px solid #DDDDDD;
	text-align: center;
}
table > tbody > tr:nth-child(2n) > td, table > tbody > tr:nth-child(2n) > th {
    background-color: #F2F2F2;
}
div.success{
    height: 230px;
    margin: 0 auto;
    width: 220px;
}
.success.pin {
	background: url("../img/keyboard.png") no-repeat 0 0;
}
.success.topup {
	background: url("../img/success.png") no-repeat 0 0;
}
a.mainpage {
    background-color: #E6E6E6;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    color: #5B5C5C;
    cursor: pointer;
    display: block;
    font-family: BYekan,Tahoma;
    font-size: 27px;
    height: 47px;
    margin: 10px auto;
    padding: 0 45px;
    text-decoration: none;
    width: 210px;
}
a.mainpage:hover{
	text-shadow: 1px 2px 2px #ffffff;
	background-color:#F0F2EF;
}
div #description h1, div #description p{
	font-size: 13px;
	font-weight: normal;
	font-family: BYekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
	margin: 5px auto;
	color: #717172;
	text-align: center;
	text-shadow: 0px 2px 1px #BBBABA;
	width: 250px;
}
div #description h1 {
	font-size: 16px;
}
div.failed {
	margin: 80px 40px;
}
div.failed .logo {
	width:100px;
	height:100px;
	margin-top: 15px;
	background: url("../img/warning.png") no-repeat 0 0;
	float: right;
}
div.failed .explanation {
    float: right;
    margin: 30px 0;
    width: 290px;
}
div.failed .explanation p {
	font-size: 13px;
	margin: 10px;
}